.content img {
    max-width: 100%;
}
.jumbotron header h1 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 3.0em;
}
.navbar-default {
    border-bottom-color: #D7D3C8;
}
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    color: #4D4E53;
}
.p2pu-logo img {
    width: 175px;
}
.btn-danger {
    color: #D7D3C8;
    background-color: #4D4E53;
    border-color: #D7D3C8;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
 color: #4D4E53;
 background-color: #F6F4EC; background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
 background-image: -webkit-linear-gradient(top, #F6F4EC, #D7D3C8);
 background-image: -moz-linear-gradient(top, #F6F4EC, #D7D3C8);
 background-image: -ms-linear-gradient(top, #F6F4EC, #D7D3C8);
 background-image: -o-linear-gradient(top, #F6F4EC, #D7D3C8);
 background-image: linear-gradient(to bottom, #F6F4EC, #D7D3C8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F6F4EC, endColorstr=#D7D3C8);
}

img[alt="LearningIcon"] { 
  max-width:  220px; 
  display: block;
}
img[alt="CodeReview"] { 
  max-width:  260px; 
  display: block;
}
img[alt="Detective"] {block  max-width:  490px; 
  display: block;
}
img[alt="WebApp"] { 
  max-width:  160px; 
  display: block;
}
.navigation {
  list-style: none;
  padding: 5;
  margin: 0;
  z-index: 5;
 
  /*
  box-shadow:  0px -2px 3px -1px rgba(0, 0, 0, 1);
  */
}

.col-md-9 , .jumbotron, .sidebar{
  z-index: 4;
}

.navigation li {
  float: left;
}


.navigation {
   padding-left:50px;
}


li.dropdown > ul:nth-child(n){
  text-align:left;
  z-index:39;
  position:relative;
 
}

li.dropdown:nth-child(n) > ul:nth-child(n) > li:nth-child(n) > a:nth-child(n){
   background-color:#515665;

}
li.dropdown:nth-child(n) > ul:nth-child(n) > li:nth-child(n){
     width:100%;
}

li.dropdown:nth-child(n) > ul:nth-child(n) > li:nth-child(n) > a:nth-child(n):hover{
   background-color:#707782;
  }
.navbar-nav > li > a {
    line-height: 2;
}

