.content img {
    max-width: 100%;
}
.jumbotron{
     background-image: url('../img/mozorg-gradient.png');
}
.jumbotron header h1 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 3.0em;
}
.navbar-default {
    border-bottom-color: #D7D3C8;
}
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    color: #4D4E53;
}

