.content img {
    max-width: 100%;
}
.jumbotron header h1 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 3.0em;
}
.navbar-default {
    border-bottom-color: #D7D3C8;
}
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    color: #4D4E53;
}
.p2pu-logo img {
    width: 175px;
}
.btn-danger {
    color: #D7D3C8;
    background-color: #4D4E53;
    border-color: #D7D3C8;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
 color: #4D4E53;
 background-color: #F6F4EC; background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
 background-image: -webkit-linear-gradient(top, #F6F4EC, #D7D3C8);
 background-image: -moz-linear-gradient(top, #F6F4EC, #D7D3C8);
 background-image: -ms-linear-gradient(top, #F6F4EC, #D7D3C8);
 background-image: -o-linear-gradient(top, #F6F4EC, #D7D3C8);
 background-image: linear-gradient(to bottom, #F6F4EC, #D7D3C8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F6F4EC, endColorstr=#D7D3C8);
}

img[alt="LearningIcon"] { 
  max-width:  220px; 
  display: block;
}
img[alt="CodeReview"] { 
  max-width:  260px; 
  display: block;
}
img[alt="Detective"] { 
  max-width:  490px; 
  display: block;
}
img[alt="WebApp"] { 
  max-width:  160px; 
  display: block;
}
.navigation {
  list-style: none;
  padding: 10;
  margin: 0;
  z-index: 5;
 
  /*
  box-shadow:  0px -2px 3px -1px rgba(0, 0, 0, 1);
  */
}

.col-md-9 , .jumbotron, .sidebar{
  z-index: 4;
}

.submodule li a{ 
 padding-top:20px;
 padding-bottom:20px;
 padding-left:15px;
 padding-right:12px;

}

.submodule li a:hover{
  display: block;
   background: rgba(112, 119, 130, 1);
  text-decoration:none;
}


.current_submodule{
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  color: #515665;
  padding-left:20px;
  padding-bottom:20px;
}


ul.submodule li{
   text-align:center;
}


/**** TEST ******/
ul.moz-navigation{
  margin-left:80px;
}

ul.moz-navigation, ul.submodule{
  background: rgba(81, 86, 101, 1);
  border-radius:5px;
  list-style:none;
  padding:0;
  position:relative;
  width:100%;
  text-transform: uppercase;
}

ul.moz-navigation li{
  display:inline-block;
}

ul.moz-navigation li a{
  color: #fff;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  padding:10px;
  display:block;
}

ul.moz-navigation li:hover{
  background: rgba(112, 119, 130, 1);
  text-decoration:none;
}

ul.moz-navigation li:hover:first-child{
  border-radius: 5px 0 0 5px;
}

ul.moz-navigation li:hover ul{
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  visibility:visible;
  opacity:1;
  top:38px;
  padding-top:10px;
  text-decoration:none;
}

ul.moz-navigation li ul{
  position:absolute;
  width:180px;
  background: transparent;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  visibility:hidden;
  opacity:0;
  top: 38px;  
}

ul.moz-navigation li ul li{
  display:block;
  background: rgba(44, 62, 80, 1);
  position:relative;
}

ul.moz-navigation li ul li:first-child{
  border-radius:5px 5px 0 0;
}

ul.moz-navigation li ul li:last-child{
  border-radius:0 0 5px 5px;
}

ul.moz-navigation li ul li ul{
  position:absolute;
  left:140px;
 
  padding-left:10px;
  top: -10px !important;
}

ul.moz-navigation li ul li:hover ul{
  z-index:1000;
  text-decoration:none;
}

ul.moz-navigation li ul li:hover:first-child{
  border-radius:5px 5px 0 0;
}

ul.moz-navigation li ul li:hover ul li{
  border-radius:0 0 0 0;
}

ul.moz-navigation li ul li ul li:first-child{
  border-radius:5px 5px 0 0;
}

ul.moz-navigation li ul li ul li:last-child{
  border-radius:0 0 5px 5px;
}

ul.moz-navigationli ul li ul li{
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
  visibility:hidden;
  opacity:0;
}

ul.moz-navigation li ul li:hover ul li{
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  visibility:visible;
  opacity:1;
   text-decoration:none;
}

ul.submodule {
   z-index: 6;
   text-transform: uppercase;
   margin-top:5px;
   white-space:nowrap;
  background-color:red;

}
